<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Novo Usuário</title>
</head>
<body>
    <h1>Novo Usuário</h1>
    <form action="{% url 'novo_usuario' %}" method="post">
        {% csrf_token %}
        <br>
        <div>
            <h3>Insira suas informações</h3>
        </div>
        <div>
            <p>Nome:</p>{{ form.nome }}
        </div>
        <div>
            <p>Email:</p>{{ form.email }}
        </div>
        <div>
            <p>Contato:</p>{{ form.contato }}
        </div>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>